@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    /*scroll-behavior: smooth;*/
    
}
html{
    margin: 0;
}

nav{
    font-size: 1.3em;
    text-transform: uppercase;
    position: fixed !important;
    width: 100%;
    font-weight: 300;
    z-index: 9999999999;
}

nav a:hover{
    color: black;
}

.navbar-brand{
    font-size: 1.3em !important;
    font-weight: 300;
}
.navbar-toggler{
    border: none !important;
}

button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

#icons{
    
    font-size: 1.5em;
}

#icons a{
    text-decoration: none;
    color: rgba(0,0,0,.55);
}

#icons a:visited{
    text-decoration: none;
    color: rgba(0,0,0,.55);
}

.bi:hover{
    color: rgba(0, 0, 0, 1);
    opacity: 1;
}

/* -----------------------HERO-------------------------- */

#hero{
    height: 100vh;
}

#hero h1{
    font-size: 5rem;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    text-align: center;
}

#hero h2 a{
  font-size: 2rem;
  padding: 0 0 1rem 0;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.parallax {

    
    height: 100%;
    width: 100%;
    
  }

#line{
    width: 60%;
    height: 0.3em;
    border-radius: 50%;
    color: black;
    opacity: 1;
}

#hero h3{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
}
#hero #author{
    margin-top: 1em;
    text-align: right;
    width: 100%;
}

.quote{
    font-weight: 500;
    padding: 0.2rem;
}

/*---------------------------------------------------------------------------*/
.carousel-item{
    height: 36em;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
}

.carousel-item .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    /*filter: grayscale(80%);*/
}
.carousel-inner p{
    font-size: 1.5em;
    font-weight: 200;
}

.carousel-inner h1{
    text-align: right;
}

/*---------------------------------------------------------------------------*/

#csomagok p, #csomagok h5, #csomagok label{
    font-family: 'ABeeZee', sans-serif !important;
}

.card-body h5{
    font-size: 2em;
}

.card ul li p{
  font-size: 1.2em;
}

.price{
    font-size: 1.5em;
}

.bundleli{
  font-size: 1.5em; 
  font-weight: 300;
}

/*----------------------CONTACT----------------*/
 .bi-telephone-fill, .bi-envelope-plus-fill, .bi-telephone,.fa-phone{
  font-size: 10em;
} 

#contact .row .col-sm-6 a{
  text-decoration: none;
  color: rgb(75, 75, 75);
}



#contact .row .col-sm-6 a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

#kapcsolat{
  text-transform: uppercase;
  font-size: 3.5em;
}

#kapcsolat ~ p{
  font-size: 1.4em;
  font-weight: 300;
}

/*-----------------------------------------------*/

/* .iconrow{
    height: 10em;
} */

.cardicon{
    font-size:  4em;
    width: 2.2em;
    height: 2.2em;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
}

.cardcontent h4{
    font-size: 2em;
}
.customcard-box{
    width: 100%;
    color: rgb(75, 75, 75);
}

.customcard-box:hover{
color: black;
}

/*-----------------------------------------------*/

.ismerteto{
    font-weight: 300;
    font-size: 1.7em;
    font-family: 'ABeeZee', sans-serif !important;
    text-align: left ;
    padding: 10px;
}

.nincspont{
    list-style-type: none;
}

.ismerteto2{
    font-weight: 300;
    font-size: 1.7em;
    font-family: 'ABeeZee', sans-serif !important;
    text-align: left ;
    padding: 10px;
}

.ismertetoul{
    list-style: url('caret-right-fill.svg');
}

.sidepic{
    max-height: 80%;
    max-width: 80%;
    transform: rotate(10deg);
    border: 5px solid black;
    filter: grayscale(0.8);
    margin: 30px;
}

.sidepicholder{
    overflow: hidden;
}

.otherside{transform: rotate(-10deg);}


/*-----------------------------------------------*/

.lab{
    background-color: rgb(75, 75, 75);
    margin: 0;
}

.lab a{
    color: white;
    text-decoration: none;
}

.lab a:hover{
    color: white;
    text-decoration: none;
}

.lab{
    color: white;
    text-decoration: none;
}

.lab p{
    margin: 0;
}

.navigaciok a{
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 100%;
}

.labcim{
    font-size: 1.8em;
    padding: 10px;
}

.iconspadd{
    padding: 10px;
}



.aositem,.aos-init{
    overflow: hidden !important;
}

#goodfor{
    overflow: hidden !important;
}